@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:300,400,700&display=swap&subset=latin-ext');

$font-base: 'Open Sans';
$font-alt: 'Merriweather';

html {
  font-size: 14px;
}

body {
  font-family: $font-base;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size:38px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.bold {
  font-weight: 700;
}


//a:link {
//  color: blue;
//}
//
//a:visited {
//  color: #C13584;
//}
//
////a:hover {
////  border-bottom: 3px solid #A1E5AB;
////}
//
//a:active {
//  color: greenyellow;
//}