#header-gib {
  height: 850px;
  width: 100vw;
  .header-img {
    background-image: url('./../../assets/Form-Hero-Image.jpg');
    background-repeat: no-repeat;
    height: 100%;
    left: -483px;
    position: relative;
  }
}

.bg-form {
  background-image: url("./../../assets/Background-Form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: $padding-main;
}

.important {
  width: 100vw;
  height: 179px;
  background-color: $color-accent;
  .important-text {
    width: 80vw;
    height: 179px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
  }
}

.intro-gib{
  width: 710px;
  height: 350px;
  position: absolute;
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 300px;
  right: -250px;
  h2 {
    text-align: center;
    margin: $padding-main 0 ;
  }
}

.form-container {
  margin-left: $main-padding*4;
  width: 800px;
  height: auto;
  min-height: 500px;
  p {
    color: $color-text;
  }
  h3 {
    margin: $main-padding*2 0 $main-padding 0;
  }
}

.firstStepForm {
  display: flex;
  flex-direction: column;
  label {
  }
}

.form-select{
  width: 200px;
  display:flex;
  justify-content: space-between;
}

.form-btns {
  display:flex;
  width: 300px;
  justify-content: space-between;
}

.flex-row-cs {
  display: flex;
}

.flex-column-cs {
  display: flex;
  flex-direction: column;
}

.select-w {
  width: 200px;
}

.form-column {
  width: 300px;
}

.thankNote {
  width: 500px;
  align-items: center;
  justify-content: center;
  padding: 100px 0 0 10px;
  text-align: center;
}