#contact {
  height: 1111px;
  width: 100vw;
  background-color: $color-background .6;
  display: flex;
  background-image: url("../../assets/Background-Contact-Form.jpg");
  position: relative;
  .form-column {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 200px;
    right: 100px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}