.btn-custom {
  width: 310px;
  height: 120px;
  border: .75px solid black;
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  background-color: rgba(255,255,255,1);
}

.btnWho {
  width: 200px;
  height: 80px;
  border: .75px solid black;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  background-color: transparent;
}

.btnReg {
  width: 120px;
  height: 50px;
  border: .75px solid black;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  background-color: transparent;
}

.btn-logout {
  text-align: center;
  background-color: transparent;
  border: none;
}

.btn-form{
  width: 7rem;
  height: 4rem;
  border: .75px solid black;
  font-size: 1.4rem;
  font-weight: lighter;
  text-align: center;
  background-color: transparent;
  margin-top: 3rem;
}