.btn-custom {
  width: 310px;
  height: 120px;
  border: .75px solid black;
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
  background-color: transparent;
}

.btnWho {
  width: 200px;
  height: 80px;
  border: .75px solid black;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  background-color: transparent;
}

.btnReg {
  width: 120px;
  height: 50px;
  border: .75px solid black;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  background-color: transparent;
}